<div class="container-fluid backImage img-fluid " style="background-image: url('/assets/imgs/consultoria.jpg')">


    <div class="content">
        <div class="content__container">
            <p class="content__container__text">
                Desarrollamos
            </p>

            <ul class="content__container__list">
                <li class="content__container__list__item">tus ideas</li>
                <li class="content__container__list__item">soluciones</li>
                <li class="content__container__list__item">tu negocio</li>
                <li class="content__container__list__item">innovación</li>
            </ul>
        </div>
    </div>



</div>