<div class="container footer">
    <div class="row">
        <div class="col-4 ">
            <div class="text-center">
                <img src="./assets/imgs/hunabBlack.png" height="300px" width="300px" class="img-fluid" alt="Responsive image">

            </div>
        </div>


        <div class="col-4">
            <div class="text-center title">
                <p>Síguenos en:</p>
                <hr>
            </div>
            <div class=" row justify-content-center">
                <div class="d-inline-block redes">
                    <a href="https://www.facebook.com/HunabDev" target="_blank">
                        <img src="./assets/imgs/redes/facebook.svg" width="35px" class="img-fluid " alt=""></a>
                </div>
                <div class="d-inline-block redes">
                    <a href="https://www.facebook.com/HunabDev" target="_blank">
                        <img src="./assets/imgs/redes/twitter.svg" width="35px" class="img-fluid " alt=""></a>
                </div>

                <div class="d-inline-block redes ">
                    <a href="https://www.instagram.com/hunabdev" target="_blank">
                        <img src="./assets/imgs/redes/instagram.svg" width="35px" class="img-fluid " alt=""></a>
                </div>

                <div class="d-inline-block redes ">
                    <a href=" https://api.whatsapp.com/send?phone=5540381975&text=Bienvenido%20a%20Hunab" target="_blank">
                        <img src="./assets/imgs/redes/whatsapp.svg" width="35px" class="img-fluid " alt=""></a>
                </div>

                <div class="text-center">
                    <p class=""><i class="fas fa-map-marker-alt"></i>Sargento Cabral 2100 Oeste B°, San Gabriel, CP 5400, San Juan, Argentina</p>
                </div>

            </div>

        </div>




        <div class="col-4">
            <div class="text-center title">
                <p>Contáctanos</p>
                <hr>
            </div>

            <div class="text-center">
                <p>hunabdev@gmail.com</p>
            </div>

            <div class="text-center">
                <p> Ciudad de México: +52 (55) 4038-1975</p>

            </div>
            <div class="text-center">
                <p>Av. Juan de Dios Bátiz s/n esq. Av. Miguel Othón de Mendizabal. Col. Lindavista. Ciudad de México</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center"> Hunab MX © 2019 . Todos los derechos reservados</p>
        </div>
    </div>
</div>