p {
    font-family: NexaLight;
    font-weight: bold;
}

.container {
    margin: 0;
}

hr {
    margin-top: -3%;
    height: 1px;
    width: 15%;
    background-color: #3c92ca;
    margin-left: 42%;
}

.footer {
    background-color: #eaedf1;
    margin: 0;
    margin-right: 0;
}

.title {
    margin-top: 15%;
    margin-bottom: 8%;
}

.redes {
    margin-right: 3%;
    margin-left: 3%;
    width: 35px;
}

@media only screen and (max-width: 320px) {
    p {
        font-size: 0.4rem;
    }
    .redes {
        width: 18px;
        max-width: 18px;
    }
    hr {
        margin-top: -20%;
        width: 20%;
    }
    .dir-arg {
        margin-top: -45%;
    }
    .dir-mex {
        margin-top: -30%;
    }
    .rights {
        margin-top: -20%;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 414px) {
    p {
        font-size: 0.4rem;
    }
    .redes {
        width: 18px;
        max-width: 18px;
    }
    hr {
        margin-top: -13%;
        width: 20%;
    }
    .dir-arg {
        margin-top: -40%;
    }
    .dir-mex {
        margin-top: -30%;
    }
    .rights {
        margin-top: -17%;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 375px) {
    p {
        font-size: 0.4rem;
    }
    .redes {
        width: 18px;
        max-width: 18px;
    }
    hr {
        margin-top: -16%;
        width: 20%;
    }
    .dir-arg {
        margin-top: -45%;
    }
    .dir-mex {
        margin-top: -30%;
    }
    .rights {
        margin-top: -20%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .container {
        max-width: 100%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    p {
        font-size: 0.7rem;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    p {
        font-size: 0.85rem;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}