p{
  font-family: NexaLight;
  font-weight: bold;
}
.container{
  margin: 0;
}

.footer{
  background-color:#bac2cc;
  margin:0;
  margin-right: 0;
}
.title{
  margin-top: 15%;
  margin-bottom: 8%;
}
.redes{
  margin-right: 3%;
  margin-left: 3%;
}
@media(min-width: 576px){
.container{
 max-width:100%;
}
}
