<nav class="navbar navbar-expand-lg navbar-light colorNav stroke fade-in">


    <a class="navbar-brand letrasLogo" href="#">
        <img src="./assets/imgs/letrasLogo.png" width="100" height="100" class="img-fluid" alt="Responsive image" alt="">
    </a>



    <!--  <a class="navbar-brand alignBrandNav " href="#">Hunab </a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse menuOpc" id="navbarNav">
        <ul class="navbar-nav alignNav ">
            <li class="nav-item ">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#nosotros" onclick="animated()">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#servicios">Servicios</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="#contactanos">Contáctanos</a>
            </li>
            <!--  <li class="nav-item">
                <a class="nav-link " href="#unete">Únete</a>
            </li>-->
        </ul>
    </div>
</nav>