<div id="servicios" class="servicios container  fade-in ">
    <h1>Servicios</h1>
    <hr class="mb-5">


    <div class="row mt-4 mb-4">
        <!-- Card Aplicaciones Móviles -->

        <div class="col-6">
            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-image: url('/assets/imgs/servicios/moviles.jpg')"></div>
                </div>
                <div class="description ">
                    <h1>Aplicaciones móviles
                    </h1>

                    <p> Aplicaciones móviles a la medida de tu negocio. Actualmente el móvil a superado a una computadora para acceder a internet.
                    </p>
                    <fa class="faspin-right" name="cog" animation="spin"></fa>
                </div>

            </div>

        </div>

        <!-- Card E-commerce-->

        <div class="col-6 ">
            <div class="blog-card ">
                <div class="meta ">
                    <div class="photo " style="background-image: url('/assets/imgs/servicios/ecommerce.jpg')"></div>
                </div>
                <div class="description ">
                    <h1>E-commerce</h1>
                    <p> Te ayudamos a maximizar tus ventas partiendo de los ejes estratégicos de tu empresa a la medida de tus necesidades.</p>
                    <fa class="faspin-right" name="cog" animation="spin"></fa>
                </div>
            </div>
        </div>

    </div>


    <div class="row  mb-4 ">
        <!-- Card Big data -->
        <div class="col-6 ">
            <div class="blog-card alt ">
                <div class="meta ">
                    <div class="photo " style="background-image: url('/assets/imgs/servicios/bigdata.jpg')"></div>
                </div>
                <div class="description ">
                    <h1>Big Data</h1>
                    <p>Saca provecho de toda esa información que tienes almacenada sobre tus clientes para que puedas maximizar tus ventas o planear nuevas estrategias de marketing.
                    </p>
                    <fa class="faspin-left" name="cog" animation="spin"></fa>
                </div>
            </div>

        </div>

        <!-- Card Aplicaciones Web -->
        <div class="col-6 ">

            <div class="blog-card alt ">
                <div class="meta ">
                    <div class="photo " style="background-image: url('/assets/imgs/servicios/appweb.png')"></div>
                </div>
                <div class="description ">
                    <h1>Aplicaciones Web</h1>
                    <p>Mejora los procesos que llevas a cabo en tu empresa a través de una aplicación web o da el primer paso y da a conocer tu negocio a través de la web. </p>
                    <fa class="faspin-left" name="cog" animation="spin"></fa>
                </div>
            </div>

        </div>

        <br>
    </div>

    <div class="row mb-4 ">
        <!-- Card E-bussiness -->

        <div class="col-6 ">
            <div class="blog-card ">
                <div class="meta ">
                    <div class="photo " style="background-image: url('/assets/imgs/servicios/ebussiness.jpg')"></div>
                </div>
                <div class="description ">
                    <h1>E-business</h1>
                    <p> Administra las operaciones de tu empresa desde tu ordenador, visualiza estadísticas del día, del mes o del año. Genera reportes de tus ventas con tan solo unos clicks...
                    </p>
                    <fa class="faspin-right" name="cog" animation="spin"></fa>
                </div>
            </div>

        </div>

        <!-- Card E-commerce-->

        <div class="col-6 ">
            <div class="blog-card ">
                <div class="meta ">
                    <div class="photo " style="background-image: url('/assets/imgs/servicios/gps.jpg')"></div>
                </div>
                <div class="description ">
                    <h1>Soluciones GPS</h1>
                    <p> <br>Lleva el control de algún servicio que ofrece tu empresa a través de la tecnología gps. Gestiona trayectos, tiempos, distancias, etc. </p>
                    <fa class="faspin-right" name="cog" animation="spin"></fa>
                </div>
            </div>
        </div>

    </div>



</div>
<!--Parallax valle de la luna-->

<div class="container-fluid mb-5" id="contenedor">
    <h1 class="textParallax">"Las firmas excelentes no creen en la excelencia, solo en la mejora constante y en el cambio constante" <br><br>-Tom Peters.</h1>
</div>