<div id="nosotros" class="container nosotros fade-in">
    <h1>Nosotros</h1>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="sea">
                <div class="circle-wrapper">
                    <div class="bubble"></div>
                    <div class="submarine-wrapper">
                        <div class="submarine-body">
                            <div class="window"></div>
                            <div class="engine"></div>
                            <div class="light"></div>
                        </div>
                        <div class="helix"></div>
                        <div class="hat">
                            <div class="leds-wrapper">
                                <div class="periscope"></div>
                                <div class="leds"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-8">
            <h5>Bienvenido a Hunab ! </h5>
            <h4>Somos una empresa de consultoría que ofrece soluciones innovadoras para todas tus necesidades tecnológicas, con el fin de impulsar el crecimiento de todos nuestros clientes a través de nuestros sistemas.
            </h4>
            <p> Hunab's Developers es una empresa mexicana formada por egresados de las mejores universidades del país.
                <p>
        </div>
    </div>

</div>