<div id="contactanos" class="contactanos container fade-in">
    <h1>Contáctanos</h1>
    <hr><br><br>
    <div class="row">

        <div class="col-6 col-sm-6 col-md-6 text-center imgMessage">
            <img src="./assets/imgs/contactanos/email.png" width="250" class="img-fluid" alt="Responsive image" alt="">
        </div>
        <div class="col-6 col-sm-6  ">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="empresa" placeholder="Empresa">
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="mensaje" rows="7" placeholder="Mensaje"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Solicitar Información</button>
            </form>
        </div>
    </div>