/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: NexaBold;
    src: url("/assets/fonts/Nexa Bold.otf") format("truetype");
}

@font-face {
    font-family: NexaLight;
    src: url("/assets/fonts/Nexa Light.otf") format("truetype");
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}